[Unit]
Description=Nodemonitor Solana
After=solana.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=sol

#Environment="RPCURL=mainnet-beta"
#Environment="RPCURL=testnet"

ExecStart=/home/sol/nodemonitorsolana/nodemonitor.sh

[Install]
WantedBy=multi-user.target